@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply text-gray-900 bg-gray-50;
  }
}

@layer components {
  .prose {
    @apply max-w-none;
  }
  
  .prose p {
    @apply text-gray-800;
  }
}

/* Smooth transitions */
.transform {
  transition-property: transform, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}